body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #555;
    margin: 0 10px;
}

nav a:hover {
    background-color: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #333;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}